#logo{
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
body{
    font-family: 'Nunito', 22px;
  
}
select{
  border: 3px solid white;
  
  border-radius: 12px;
}
.profilePic {
    margin-left: auto;
    margin-right:auto;
    margin-top: 25px;
    display: block;
    border-radius: 100%;
    border: 3.5px solid #1ed301;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color:#1ed301;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    text-align: center;
    display: block;
    font-size: 25px;
}
h3 {
    font-family: 'Nunito', sans-serif;
    color:grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: -23px;
    text-align: center;
    display: block;
    font-size: 18px;
    
}

.bio {
    width:300px;
    margin: auto;
    text-align: center;
    font-family: 'Nunito', 22px;
  
}

.postedImages {
    align-items: center;
    font-family: 'Nunito', 22px;
  
}
#images{
    width: 300px;
    height:300px;
    position: relative;
    margin: 8px 8px;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  border: 3px solid #1ed301;
  margin-block-start: 50px;
}

nav{
    
    margin-left:-9px;
    margin-top: -40px;
}

a:link{
    font-family: 'Nunito', sans-serif;
    color: grey;
    text-decoration: none;
    font-size: 14px;
 
}

a:visited {
    color:grey ;
    
}
a:hover{
    color: #1ed301;
    
}
#nav_div{
   font-family: 'Nunito', sans-serif;
    border: none;
    display: block;
    margin-left: auto;
    margin-top: auto;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: 14;
}


/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: 'Nunito', sans-serif;
  
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #1ed301;
  
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 0px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px;
    width: 100%;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: grey;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #1ed301;
}

