#logo{
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.profilePic {
    margin-left: auto;
    margin-right:auto;
    margin-top: 25px;
    display: block;
    border-radius: 100%;
    border: 3.5px solid #1ed301;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    text-align: center;
    display: block;
    font-size: 25px;
}
h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -23px;
    text-align: center;
    display: block;
    font-size: 18px;
    
}

.bio {
    width:300px;
    margin: auto;
    text-align: center;
}

.postedImages {
    align-items: center;
}
#images{
    width: 287px;
    height:287px;
    position: relative;
    margin: 8px 8px;
}

nav{
    
    margin-left:-9px;
    margin-top: -20px;
}

a:link{
    font-family: 'Varela Round', sans-serif;
    color: grey;
    text-decoration: none;
    font-size: 14px;
 
}

a:visited {
    color:grey ;
    
}
a:hover{
    color: #1ed301;
    
}
#nav_div{
    border: none;
    display: block;
    margin-left: auto;
    margin-top: auto;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: 14;
}

