
#logo{
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-family: 'Nunito', sans-serif;
    
}
h1{
    font-family: 'Varela Round', sans-serif;
    color: #1ed301;
    text-align: center;
}

/*input, label{
    display: block;
}*/

/*#usernameWrap{
    float: left;
    margin-right: 20px;
}

#passwordWrap{
    float: left;
}*/
button[type=button]:active{
    background-color: #1ed301;
    color:white;
    
}
button[type=button]{
    background-color: #1ed301;
  color: white;
  border: 3px solid white;
  
  border-radius: 12px;
}
button:hover{
    background-color:grey;
    color:#1ed301;
}
input[type=submit]{
    width: 210px;
    background-color: #1ed301;
    border: none;
    padding: 8px;
    color: white;
    border: 3px solid white;
    border-radius: 12px;
}
input[type=submit]:hover{
    background-color: grey;
    color:#1ed301;
}
input[type=submit]:active{
    background-color: #1ed301;
    color:grey;
}
.center{
    padding: 20px;
    text-align: center;
    width: 500px;
    margin: 100px auto;
    border-radius: 5px;
    background-color: white;
}

input{
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 5px;
}

h3{
    font-family: 'nunito';
    font-size: 18px;
    color: grey;
    
}

header{
    background-color: white;
}

a:link{
    font-family: 'Nunito', sans-serif;
    color: grey;
    
}
a:visited {
    color:grey ;
    
}
a:hover{
    color: #1ed301;
}


.error{
    color:red;
    text-align:center;

}
.form-submit-button {

background: #B9DFFF;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}

.form-submit-button:hover {

background: #016ABC;

color: grey;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}


