#logo{
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-family: 'nunito', sans-serif;
}

h1{
   font-family: 'nunito', sans-serif;
   margin: -5px;
   font-size: .8em;
}

nav{
     font-family: 'Nunito', sans-serif;
    margin-left:-9px;
    margin-top: -70px;
}
#home{
     font-family: 'Nunito', sans-serif;
    border: none;
    display: block;
    margin-left: auto;
    margin-top: auto;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: 14;
}


a:link{
    font-family: 'Nunito', sans-serif;
    color: grey;
    text-decoration: none;
    font-size: 14;
 
}

a:visited {
    color:grey ;
    
}
a:hover{
    color: #1ed301;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color:#1ed301 ;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#search:hover{
    width: 200px;
    cursor: pointer;
}

#search:hover input{
    display: block;
    background-color: #C0C0C0;
}

#search:hover .fa{
    background: #1ed301;
    color: white;
}

#wrapper {
    overflow: hidden; /* add this to contain floated children */
    margin: auto;
    width: 50%;
    padding: 10px;
}
#imageForm {
    width: 300px;
    float:left; /* add this */
}
#textForm {
    float: right;
    overflow: hidden;/* add this */
}

h2{
       font-family: 'nunito', sans-serif;
       text-align: center;
       color: #1ed301;
       outline: 1px solid #1ed301;
       
}
h3{
    color:grey;
}
input[type=submit]:active{
    background-color: #1ed301;
    color:white;
    
}
input[type=submit]{
     background-color: #1ed301;
  color: white;
  border: 3px solid white;
  border-radius: 12px;
  
}
input[type=submit]:hover{
     background-color:grey;
    color:#1ed301;
}
